  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 .navbar{
   height: 45px;
   font-family: 'Times New Roman', Times, serif;
   background-color: #172d67;
   color: white;
 }
 div.navbar-brand{
   font-size: 25px;
   }
 .container{
   display: flex;
    align-items: center;
    justify-content: center;
    }
  
  .container .calculator{
  background:#f6f8f9    ;
  width: 20.5rem;
  padding: 2rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
   box-shadow:1px -1px 5px 10px #2a6c84;
   background-color: #172d67;
  }
  div.line{ width:17rem; background-color: white; height: .1rem; margin-bottom: 8px;}

  .header{
    padding: 10px;
    scroll-snap-type: y-mandatory;
  }
  .history{
    height: 4rem;
    color: white;
    overflow-y:auto;
    scroll-snap-align: start;
  
  }
  .history p{
    justify-content: flex-end;
    display: flex;
    padding-right: 5px;
    margin: 1%;
    font-stretch: expanded;
  }
  .display{
     height: 2rem;
     font-weight: bold;
     font-size: 20px;
     color: white;
     justify-content: flex-end;
     display: flex;
  }
  .display span{
    padding-right: 5px;
  } 

 
  .buttongrp{
    display: grid;
    grid-template-columns: repeat(4,1em); 
    row-gap: .5rem; column-gap: 3.5rem; 
  }
  .buttongrp .btn{
    background: #e9f0f4;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3.5rem;
    width: 2.5rem;
    padding:  10px 25px;
    border-radius: 35%;
    display: grid;
    align-items: center;
    justify-content: center ;
    
  }
  .buttongrp .btn:hover{
    color: white;
  }
 
  #equal{
    border-radius: 20%;
    width: 7.5rem;
  }
  

 .history::-webkit-scrollbar{
   width: 5px;
   height: 6rem;
 }
 .history::-webkit-scrollbar-track{
   border-radius: 15%;
 }
 .history::-webkit-scrollbar-thumb{
  background: linear-gradient(#50a9c9,#496ed4);
 border-radius: 15%;
  
}


  